---
const { id, ...props } = Astro.props;
---
<h2 id={id} {...props} class="text-2xl font-semibold mt-12 relative group">
  <div class="absolute -left-8 top-1 pr-2" >
    <a
      class="
        w-6 h-6 rounded text-xl
        flex items-center justify-center bg-gray-300 text-white
        opacity-0 group-hover:opacity-100 transition"
      href={`#${id}`}
    >
      #
    </a>
  </div>
  <slot />
</h2>