---
const { caption, noborder, fullWidth, ...props } = Astro.props;
---

<picture class="w-full flex flex-col items-center my-8" {...props}>
  <div
    class:list={[
      'w-full flex rounded-lg overflow-hidden',
      { 'border border-gray-200': !noborder },
      { 'max-w-sm': !fullWidth },
    ]}
  >
    <slot />
  </div>
  {caption && <caption>{caption}</caption>}
</picture>
